<!-- file: templates/meal_of_the_day.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Meal of the Day</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <div class="meal-of-the-day-container">
    <h2>Meal of the Day</h2>

    <!-- The server injects the "meal" data in the template context -->
    <img src="{{ meal.img }}" alt="Meal of the Day Image">
    <h3>Name: {{ meal.name }}</h3>
    <h3>Description: {{ meal.description }}</h3>
    <h3>Cusine: {{ meal.category }}</h3>
    <h3>MeatKind: {{ meal.meatKind }}</h3>
    <h3>Taste: {{ meal.taste }}</h3>
    <h3>Emotion: {{ meal.emotion }} {{ meal.emoji }}</h3>


    <!-- Restart button: POSTs to /restart, which resets your preferences/index -->
    <form action="{{ url_for('restart') }}" method="POST">
      <button type="submit">Restart</button>
    </form>
  </div>

</body>
</html>
